extend template.pug
block content
  article
    header.header
      figure.header__image
        img(src="../images/intro.jpg", alt="Imágen del encabezado")
      span.header__section-title noticias
      h1.header__title cyberpunk 2077 tiene tres prólogos distintos
      a(href="#").header__author
        figure.header__author__image
          img(src="../images/avatar.jpg", alt="Imágen del autor")
        span.header__author__section-name autor
        span.header__author__name john wick
    section.content
      h3 En Cyberpunk 2077 los jugadores podrán seleccionar entre tres historias de origen diferentes, cada una presentando una ubicación de partida distinta para su personaje.
      p Converando con VG247, el diseñador Pawel Sasko explicó un sistema que CD Projekt RED llama "Lifepaths" (caminos de vida), que en la práctica suena muy similar a las historias sobre el origen del personaje de Dragon Age: Origins.
      p Uno de estos caminos de vida comienza en los Badlands, las áridas tierras que rodean Night City (suponemos que es el Nomad). CD Projekt RED no ha ofrecido descripción de las otras áreas, pero parece sensato suponer que los personajes de Corpo podrían comenzar en un distrito más corporativo de Night City, mientras que Street Kids podrían provenir de áreas de barrios marginales.
      strong noticias, fecha de lanzamiento y plataformas de cyberpunk 2077
      p En otras noticias, recientes descubrimientos que CD Projeckt RED tiene planes de desarrollar tres juegos Cyberpunk, y que Cyberpunk 2077 contará con tramas románticas similares a las que vimos en The Witcher 3. Si el romance no es su estilo, no se preocupen, podrán ser tan malvados como deseen gracias a que Cyberpunk 2077 no tendrá un sistema de moralidad.
      p Cyberpunk 2077 se pondrá disponible el 16 de abril de 2020 y se lanzará en versiones para PC, PlayStation y Xbox One.
    footer.footer
      h2 no te pierdas...
      .footer__box-game-container
        +box-game(game_images[0],game_titles[0],game_descriptions[0])
        +box-game(game_images[1],game_titles[1],game_descriptions[1])
        +box-game(game_images[2],game_titles[2],game_descriptions[2])