extend components/_template.pug
block content
  header
    .container
      h1 Social Media Dashboard
      span Total Followers: 23004
      form.switch
        strong
        input(type="checkbox", name="checkstatus", id="checkbox")
        label(for="checkbox")
  main
    .container
      section.overview
        h2 Overview
        .boxes-container
          +box(socialnetworks_logos[0], '@naftan', '1987', '12 Today', 'up', 'followers')
          +box(socialnetworks_logos[1], '@naftan', '1044', '99 Today', 'up', 'followers')
          +box(socialnetworks_logos[2], '@naftan', '11k', '1099 Today', 'up', 'followers')
          +box(socialnetworks_logos[3], 'Naftan', '8239', '144 Today', 'down', 'subscribers')
      section.overview-today
        h2 Overview - Today
        .boxes-container
          +box(socialnetworks_logos[0], 'Page Views', '87', '3%', 'up')
          +box(socialnetworks_logos[0], 'Likes', '52', '2%', 'down')
          +box(socialnetworks_logos[2], 'Likes', '5462', '2257%', 'up')
          +box(socialnetworks_logos[2], 'Profile Views', '52k', '1375%', 'up')
          +box(socialnetworks_logos[1], 'Retweets', '117', '303%', 'up')
          +box(socialnetworks_logos[1], 'Likes', '507', '553%', 'up')
          +box(socialnetworks_logos[3], 'Likes', '107', '19%', 'down')
          +box(socialnetworks_logos[3], 'Total Views', '1407', '12%', 'down')