head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Platzi Games
  link(rel="stylesheet", href="../css/styles.css")
  script(src="https://kit.fontawesome.com/4894c5e846.js", crossorigin="anonymous")