@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
h1 {
  font-size: 26px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --font: #1d2029;
    --primary: #FFFFFF;
    --secundary: #f0f3fa;
    --additional: #f8f9fe;
    --variation: #e5edff;
    --switch: #1d2029;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --font: #f8f9fe;
    --primary: #1d2029;
    --secundary: #252b43;
    --additional: #20222f;
    --variation: #333a56;
    --switch: linear-gradient(to right, #4595d1, #43ce90);
  }
}
.light-mode {
  --font: #1d2029;
  --primary: #FFFFFF;
  --secundary: #f0f3fa;
  --additional: #f8f9fe;
  --variation: #e5edff;
  --switch: #1d2029;
}

.dark-mode {
  --font: #f8f9fe;
  --primary: #1d2029;
  --secundary: #252b43;
  --additional: #20222f;
  --variation: #333a56;
  --switch: linear-gradient(to right, #4595d1, #43ce90);
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  transition-duration: 0.3s;
  will-change: contents;
  color: var(--font);
  background-color: var(--primary);
  font-family: "Inter", sans-serif;
}

body::before {
  color: var(--font);
  background-color: var(--primary);
}

.container {
  display: inherit;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px 20px;
}

header {
  display: grid;
  padding-bottom: 140px;
  border-radius: 0 0 25px 25px;
  transition-duration: 0.3s;
  will-change: contents;
  background-color: var(--additional);
}
header span {
  font-weight: bold;
  opacity: 0.75;
}

header::before {
  background-color: var(--additional);
}

.switch {
  display: flex;
  z-index: 1;
  margin-top: 25px;
  align-items: center;
  justify-self: right;
}
.switch strong {
  margin-right: 10px;
  font-weight: bold;
  opacity: 0.75;
}
.switch input[type=checkbox] {
  display: none;
}
.switch input[type=checkbox]:checked + label::before {
  transform: translateX(30px);
}
.switch label {
  display: inline-block;
  width: 60px;
  height: 30px;
  padding: 5px;
  border-radius: 20px;
  user-select: none;
  background: var(--switch);
}
.switch label:hover {
  cursor: pointer;
}
.switch label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition-duration: 0.3s;
  will-change: transform;
  background-color: var(--primary);
}

main {
  margin-top: -175px;
}
main h2 {
  margin-bottom: 15px;
  opacity: 0.75;
}
main .overview .box {
  display: flex;
  padding: 35px;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
main .overview .box__header {
  display: flex;
  margin-bottom: 15px;
}
main .overview .box__header figure {
  margin-right: 5px;
}
main .overview .box__followers {
  text-align: center;
  margin-bottom: 25px;
}
main .overview .box::before {
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
main .overview .facebook::before {
  background-color: #168ef4;
}
main .overview .twitter::before {
  background-color: #1ca0f2;
}
main .overview .instagram::before {
  background-image: linear-gradient(to right, #fcc268, #df4b95);
}
main .overview .youtube::before {
  background-color: #c4032a;
}
main .overview-today .box {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  gap: 20px;
  padding: 25px;
}
main .overview-today .box__header {
  grid-row: 1/2;
  grid-column: 1/3;
}
main .overview-today .box__header figure {
  float: right;
}
main .overview-today .box__followers strong {
  line-height: 0.9;
  font-size: 40px;
}
main .overview-today .box .icofont-caret-up, main .overview-today .box .icofont-caret-down {
  justify-self: right;
  align-self: end;
}
.boxes-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: space-evenly;
}
.boxes-container .box {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
  transition-duration: 0.3s;
  will-change: contents;
  background-color: var(--secundary);
}
.boxes-container .box__header figure {
  width: 20px;
  height: 20px;
  background-size: contain;
}
.boxes-container .box__header .facebook {
  background-image: url("../assets/svg/facebook.svg");
}
.boxes-container .box__header .twitter {
  background-image: url("../assets/svg/twitter.svg");
}
.boxes-container .box__header .instagram {
  background-image: url("../assets/svg/instagram.svg");
}
.boxes-container .box__header .youtube {
  background-image: url("../assets/svg/youtube.svg");
}
.boxes-container .box__header strong {
  font-size: 15px;
  opacity: 0.75;
}
.boxes-container .box__followers strong {
  display: block;
  font-size: 50px;
  font-weight: bold;
}
.boxes-container .box__followers span {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.75;
}
.boxes-container .box .icofont-caret-up, .boxes-container main .overview-today .box .icofont-caret-down, main .overview-today .boxes-container .box .icofont-caret-down {
  color: #3b9788;
}
.boxes-container .box .icofont-caret-up span, .boxes-container main .overview-today .box .icofont-caret-down span, main .overview-today .boxes-container .box .icofont-caret-down span {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: bold;
}
.boxes-container .box .icofont-caret-down {
  color: #8a4a5b;
}
.boxes-container .box .icofont-caret-down span {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: bold;
}
.boxes-container .box::before {
  background-color: var(--secundary);
}
.boxes-container .box:hover {
  cursor: pointer;
  background-color: var(--variation);
}

/*# sourceMappingURL=styles.css.map */
