:root {
  --color-searcher-background: #f2f2f2;
  --color-lightgay: rgb(150, 150, 150);
  --color-darkgray: rgb(110, 110, 110);
  --color-dark: rgb(37, 37, 37);
  --color-playlist-background: #151b31;
}
