@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --website-color: #8998c1;
  --section-color: #eef1f8;
  --bottons-color: #012178;
  --bottons-hover-color: #001447;
  --menu-color: #6475a3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html, body {
  width: 100%;
  height: 100%;
}
.web-container {
  width: 100%;
  max-width: 1000px;
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template: 75px 1fr 100px / 1fr;
  grid-template-areas:  'header'
                        'main'
                        'footer';
}
header {
  grid-area: header;
  background-color: var(--website-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
main {
  grid-area: main;
  display: grid;
  grid-template-columns: 250px 1fr;
}
main section {
  grid-column: 1 / 2;
  background-color: var(--section-color);
  padding: 50px;
}
main section h2 {
  margin-bottom: 20px;
}
.section__menu--vertical {
  list-style: none;
}
.section__menu--vertical li {
  margin: 20px 0;
}
.section__menu--vertical li a {
  color: var(--menu-color);
  font-weight: bold;
  font-size: 14px;
}
.section__menu--vertical li a:hover {
  color: #536086;
}
main article {
  grid-column: 2 / 3;
  padding: 50px 70px;
}
main article h2 {
  margin-bottom: 20px;
}
main article p {
  margin-bottom: 20px;
}
main article p + p {
  margin-bottom: 50px;
}
footer {
  grid-area: footer;
  background-color: var(--website-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
h1 {
  color: white;
}
a {
  text-decoration: none;
}
.footer__menu--horizontal {
  list-style: none;
  display: flex;
  padding-right: 20px;
}
.footer__menu--horizontal li {
  padding-left: 20px;
}
.footer__menu--horizontal li a {
  font-size: 12px;
  color: white;
}.footer__menu--horizontal li a:hover {
  color: rgb(225, 225, 225);
}
.button {
  background-color: var(--bottons-color);
  padding: 10px 40px;
  color: white;
}
.button:hover {
  background-color: var(--bottons-hover-color);
}