.switch {
  display: flex;
  z-index: 1;
  margin-top: 25px;
  align-items: center;
  justify-self: right;
  strong {
    margin-right: 10px;
    font-weight: bold;
    opacity: $opacity;
  }
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox]:checked + label::before {
    transform: translateX(30px);
  }
  label {
    display: inline-block;
    width: 60px;
    height: 30px;
    padding: 5px;
    border-radius: 20px;
    user-select: none;
    background: var(--switch);
  }
  label:hover {
    cursor: pointer;
  }
  label::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition-duration: .3s;
    will-change: transform;
    background-color: var(--primary);
  }
}