@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
$font: 'Inter', sans-serif;


$opacity: .75;
$light: #FFFFFF;
$dark: #1d2029;
$up: #3b9788;
$down: #8a4a5b;
$facebook: #168ef4;
$twitter: #1ca0f2;
$instagram-1: #fcc268;
$instagram-2: #df4b95;
$youtube: #c4032a;


@each $titles,$size in (h1: 26px, h2: 21px, h3: 16px) {
  #{$titles} {
    font-size: $size;
  }
}
@include breakpoints(tablet) {
  @each $titles,$size in (h1: 30px, h2: 25px, h3: 20px) {
    #{$titles} {
      font-size: $size;
    }
  }
}


@include breakpoints(light-mode) {
  :root {
    --font: #1d2029;
    --primary: #FFFFFF;
    --secundary: #f0f3fa;
    --additional: #f8f9fe;
    --variation: #e5edff;
    --switch: #1d2029;
  }
}
@include breakpoints(dark-mode) {
  :root {
    --font: #f8f9fe;
    --primary: #1d2029;
    --secundary: #252b43;
    --additional: #20222f;
    --variation: #333a56;
    --switch: linear-gradient(to right, #4595d1, #43ce90);
  }
}
.light-mode {
  --font: #1d2029;
  --primary: #FFFFFF;
  --secundary: #f0f3fa;
  --additional: #f8f9fe;
  --variation: #e5edff;
  --switch: #1d2029;
}
.dark-mode {
  --font: #f8f9fe;
  --primary: #1d2029;
  --secundary: #252b43;
  --additional: #20222f;
  --variation: #333a56;
  --switch: linear-gradient(to right, #4595d1, #43ce90);
}